{% extends "HenterGEOBundle::Place/index.html.twig" %}
{% block title %}box  {{ parent() }}{% endblock %}

{% block intro %}
    <dl>
        <dt>搜索矩形</dt>
        <dd>
            <p>
                <br />
                longitude: {{ longitude }} <br />
                latitude: {{ latitude }} <br />
                <br />
                longitude2: {{ longitude2 }} <br />
                latitude2: {{ latitude2 }} <br />


            </p>
        </dd>
    </dl>
{% endblock %}




{% block mapjs %}
<script type="text/javascript">
    var map = new BMap.Map("l-map");          // 创建地图实例
    var point = new BMap.Point({{ (longitude+longitude2)/2 }}, {{ (latitude+latitude2)/2 }});  // 创建点坐标
    map.centerAndZoom(point, 14);                 // 初始化地图，设置中心点坐标和地图级别
    map.enableScrollWheelZoom();
    map.addControl(new BMap.NavigationControl());  //添加默认缩放平移控件


    var pStart = new BMap.Point({{ longitude }},{{ latitude }});
    var pEnd = new BMap.Point({{ longitude2 }},{{ latitude2 }});
    var polygon = new BMap.Polygon([
        new BMap.Point(pStart.lng,pStart.lat),
        new BMap.Point(pEnd.lng,pStart.lat),
        new BMap.Point(pEnd.lng,pEnd.lat),
        new BMap.Point(pStart.lng,pEnd.lat)
    ], {strokeColor:"blue", strokeWeight:3, strokeOpacity:0.5});
    map.addOverlay(polygon);



    {% include 'HenterGEOBundle:Place:targets.html.twig' %}

</script>
{% endblock %}