{% extends "HenterGEOBundle::Place/index.html.twig" %}
{% block title %}near  {{ parent() }}{% endblock %}

{% block intro %}
    <dl>
        <dt>geoNear</dt>
        <dd>
            <p>

                longitude: {{ longitude }} <br />
                latitude: {{ latitude }} <br />
                周边{{ max }}km

            </p>
        </dd>
    </dl>
{% endblock %}




{% block mapjs %}
<script type="text/javascript">
    var map = new BMap.Map("l-map");          // 创建地图实例
    var point = new BMap.Point({{ longitude }}, {{ latitude }});  // 创建点坐标
    map.centerAndZoom(point, 14);                 // 初始化地图，设置中心点坐标和地图级别
    map.enableScrollWheelZoom();
    map.addControl(new BMap.NavigationControl());  //添加默认缩放平移控件

    //current location
        // 复杂的自定义覆盖物
        function ComplexCustomOverlay(point, text){
            this._point = point;
            this._text = text;
        }
        ComplexCustomOverlay.prototype = new BMap.Overlay();
        ComplexCustomOverlay.prototype.initialize = function(map){
            this._map = map;
            var div = this._div = document.createElement("div");
            div.style.position = "absolute";
            div.style.zIndex = BMap.Overlay.getZIndex(this._point.lat);
            div.style.backgroundColor = "#FF00FF";
            div.style.border = "1px solid #BC3B3A";
            div.style.color = "white";
            div.style.height = "18px";
            div.style.padding = "2px";
            div.style.lineHeight = "18px";
            div.style.whiteSpace = "nowrap";
            div.style.MozUserSelect = "none";
            div.style.fontSize = "14px"
            var span = this._span = document.createElement("span");
            div.appendChild(span);
            span.appendChild(document.createTextNode(this._text));
            var that = this;

            var arrow = this._arrow = document.createElement("div");
            arrow.style.background = "url(http://map.baidu.com/fwmap/upload/r/map/fwmap/static/house/images/label.png) no-repeat";
            arrow.style.position = "absolute";
            arrow.style.width = "11px";
            arrow.style.height = "10px";
            arrow.style.top = "22px";
            arrow.style.left = "10px";
            arrow.style.overflow = "hidden";
            div.appendChild(arrow);

            map.getPanes().labelPane.appendChild(div);
            return div;
        }
        ComplexCustomOverlay.prototype.draw = function(){
            var map = this._map;
            var pixel = map.pointToOverlayPixel(this._point);
            this._div.style.left = pixel.x - parseInt(this._arrow.style.left) + "px";
            this._div.style.top  = pixel.y - 30 + "px";
        }
        var txt = "当前位置";

        var myCompOverlay = new ComplexCustomOverlay(new BMap.Point({{ longitude }}, {{ latitude }}), txt);

        map.addOverlay(myCompOverlay);



    {% include 'HenterGEOBundle:Place:targets.html.twig' %}


</script>
{% endblock %}